*{
	margin: 0;
	padding: 0;
	font-family:Century Gothic;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../back.jpeg);
	height:100vh;
	background-size: cover;
	background-position: center
}
ul{
	margin-top : 20px;
	float: right;
	list-style-type: none;	
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: blink;
	color: black;
	padding: 5px 20 px;
	border:  2px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover {
	background-color: white;
	color: #80ffff;
}
ul li.active a{
	background-color: white;
	color: #80ffff;
}
.logo img{
	margin-top : 10px;
	float: left;
	width: 100px;
	height: auto;
}
.login img{
	
	float: left;
	width: 100px;
	height: auto;
}
.main{
	max-width: 1200px;
	margin: auto;
}
.login{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.login h2{
	color : white;
	font-size: 50px;
	
}

.btn1{
	border: 1px solid white;
	padding: 10px 20px;
	text-decoration: none;
	
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%,-50%);
	color : white;
	font-size: 20px;
		
}
.btn1:hover {
	background-color: white;
	color: red;
}
.btn2{
	border: 1px solid white;
	padding: 10px 20px;
	text-decoration: none;	
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%,-50%);
	color : white;
	font-size: 20px;
		
}

.btn2:hover {
	background-color: white;
	color: red;